<div id="splashView">
  
<h1 id="splashHeader">How to Respond to Serious Student Behaviors</h1>
<p id="splashText">Including guidance for Trinity County School Districts, Behavioral Health Department, Mountain Communities Healthcare District, Probation Department, and the Sheriff's Office, working together for the safety of our children.</p>
<button class="btn btn-splash" id="startButton">Ongoing Event</button>
<button class="btn btn-splash" id="responseButton">Referral to Behavioral Health Crisis Team</button>
<button class="btn btn-splash" id="returnButton">Student Returning After Event</button>

<p>
  Developed by the <br> 
  <strong>Trinity Safe Schools Collaborative</strong><br>
  Representing the Following Entities:
</p>
<div class="row" id="partnerLogos">
  <img class="partner_logo" src="../images/Redding Rancheria Logo.jpg">
  <img class="partner_logo" src="../images/Seal_of_Trinity_County,_California_0_0.png">
  <img class="partner_logo" src="../images/trinity-header-with-Robles.png">
  <img class="partner_logo" src="../images/probation badge.png">
  <img class="partner_logo" src="../images/sheriff_badge.png">
  <img class="partner_logo" src="../images/trinity_hospital.png">
</div>
<p>
  Redding Rancheria Trinity Health Center <br>
  Trinity County Behavioral Health <br>
  Trinity County Child Welfare Services <br>
  Trinity County Office of Education <br>
  Trinity County Probation Department <br>
  Trinity County School Districts <br>
  Trinity County Sheriff's Office <br>
  Mountain Communitioes Healthcare District
</p>
<p><strong>Approved September 23, 2020, Revised october 21, 2021</strong></p>

</div>